<!-- About Section -->
<section id="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Hackathon</h3>
            <!-- <p>Code Pursuit is a 24 hour hackathon happening for the first time by GDG Bangalore. The event will host some of the top professional and student developers across the country, gathered to build the next generation of innovative software and hardware products.
            </p> -->
            <h4>Stay Tuned for Code Pursuit 2016</h4>

            
        </div>
    </div>
</section>
<!-- End About Section -->
