<!-- About Section -->
<section id="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>DevFest</h3>
            <p>GDG DevFests are large, community-run events that offers speaker sessions across multiple product areas, all-day hack-a-thons, code labs, and much more. Each GDG DevFest is inspired by and uniquely tailored to the needs of the local developer community.</p> 

            <p>Each GDG DevFest will, at its core, be powered by a shared belief that when developers come together to exchange ideas, amazing things can happen.</p>

            
        </div>
    </div>
</section>
<!-- End About Section -->
