<!-- About Section -->
<section id="about">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>WTM Hackathon</h3>

            <p>
            	Women Techmakers is Google’s global program and brand for women in technology.

				The WTM Hack is GDG Bangalore's first Women-specific Hackathon that aims to provide visibility, community, and resources for women in technology.

            </p>

            
        </div>
    </div>
</section>
<!-- End About Section -->
