<!--Begin Location Section -->
<section>
    <div>
        <div>
            <div class="location-description text-left" data-animation="fadeInLeft" data-delay="0">
                <div class="pull-right" id="location_devfest">
                    <h3>Location</h3>
                    <ul>
                        <li itemprop="name">{{site.eventLocationNameWTMHack}}</li>
                        <li itemprop="address">{{site.eventLocationAddressWTMHack}}</li>
                        <p>&nbsp;</p>
                        <li itemprop="data">16th - 17th April, 2016</li>
                    </ul>
                </div>

                <div id="googlemaps_codepursuit">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.5992586631014!2d77.69246401450998!3d12.933458419214187!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bae13ac0e6cd5b5%3A0xcd2d5baadbadf3d0!2sFlipkart+Internet+Pvt.+Ltd.!5e0!3m2!1sen!2s!4v1460306504391" width="800" height="600" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>

            </div>
        </div>
    </section>
    <!-- End Location Section -->


    <style type="text/css">
    #googlemaps_devfest { 
      position:center; 
      top: 0; 
      left: 0; 
      z-index: 0;
  }

  #location_devfest { 
      position: relative; 
      z-index: 1; 
      width: 250px;
      background: white;
      height: auto;
      opacity: .95; /* Set the opacity for a slightly transparent Google Maps*/ 
      color: black;
  }
  </style>