<!-- Sponsors Template converted to Embedded Registration Form-->
<section id="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Agenda</h3>
            
            <!-- <iframe src="https://docs.google.com/forms/d/1QXC7v2BDwFI0XjNgjWIhNso3niyaMWcqrR2IRaUdRc4/viewform?embedded=true" width="960" height="400" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>
 -->

 			<img src="{{ site.baseurl }}/img/speakers/DevFestAgenda.jpg">
        </div>
    </div>
</section>
<!-- End Sponsors Template converted to Embedded Registration Form Section -->
