<!-- Sponsors Template converted to Embedded Registration Form-->
<section id="sponsors">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Registration Form</h3>
            
            <iframe src="https://docs.google.com/forms/d/13LSQ30nEIP0hBGGBjJoGEm1doQ3Y8TUH7lQ2yufv91U/viewform?embedded=true" width="960" height="800" frameborder="0" marginheight="0" marginwidth="0">Loading...</iframe>

 			<!-- <img src="{{ site.baseurl }}/img/speakers/DevFestAgenda.jpg"> -->
        </div>
    </div>
</section>
<!-- End Sponsors Template converted to Embedded Registration Form Section -->
