<!-- Begin Statistic Section -->
<section id="statistic" class="parallax" style="background-image: url({{ site.baseurl }}/img/hackathon.png);">
	<div class="overlay"></div>
	<div class="content-wrapper">
		<div class="col-lg-10 col-lg-offset-1">

			<div class="col-xs-6 col-md-4">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="0">
					<div class="stat"><span class="timer" data-from="0" data-to="200">200</span>+</div>
					<div class="stat-info">Awesome</div>
					<hr>
					<p class="small">Attendees</p>
				</div>
			</div>
			
			<!-- <div class="col-xs-6 col-md-3">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1000">
					<div class="stat"><span class="timer" data-from="0" data-to="N">N</span></div>
					<div class="stat-info">Rockstar</div>
					<hr>
					<p class="small">Speakers</p>
				</div>
			</div> -->

			<div class="col-xs-6 col-md-4">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1500">
					<div class="stat"><span class="timer" data-from="0" data-to="4">4</span>
					</div>
					<div class="stat-info">Tracks</div>
					<hr>
					<p class="small">Mobile - Web - IoT - Startups</p>
				</div>
			</div>

			<div class="col-xs-6 col-md-4">
				<div class="counter animated hiding" data-animation="fadeInDown" data-delay="1500">
					<div class="stat"><span class="timer" data-from="0" data-to="480">480</span>
					</div>
					<div class="stat-info">Minutes</div>
					<hr>
					<p class="small">DevFest Mania</p>
				</div>
			</div>

		</div>
	</div>
</section>
<!-- End Statistic Section -->
