<!-- Begin Subscribe Section -->
<section id="subscribe" class="parallax" style="background-image: url({{ site.baseurl }}/img/subscribe.jpg);">
    <div class="overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            <h3>Subscribe to our Mailing List</h3>
            
            <span class="btn btn-primary waves-element waves-button waves-light waves-will-raise">
                 <a href="{{site.googleGroupMailingList}}" target="_blank">Subscribe</a>
            </span>
        </div>
    </div>
</section>
<!-- End Subscribe Section -->
