<!-- Begin Subscribe Section -->
<section id="subscribe" class="parallax" style="background-image: url({{ site.baseurl }}/img/subscribe.jpg);">
    <div class="overlay"></div>
    <div class="content-wrapper">
        <div class="col-lg-8 col-lg-offset-2 animated hiding" data-animation="fadeInUp" data-delay="0">
            
            <!-- <h1>Register Now</h1><br><h3><a href="https://docs.google.com/forms/d/13LSQ30nEIP0hBGGBjJoGEm1doQ3Y8TUH7lQ2yufv91U/viewform">goo.gl/8Ykjm5</a><h3> -->
            <h3>March 21st - 22nd | 2015</h3> 
            <!-- <span class="btn btn-primary waves-element waves-button waves-light waves-will-raise">
                 <a href="{{site.googleGroupMailingList}}">Subscribe</a>
            </span> -->
        </div>
    </div>
</section>
<!-- End Subscribe Section -->
